
@{
    ViewBag.Title = "Main";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="jumbotron">
        <img class="img-responsive center-block" src="~/Content/images/inventory-management-system.png" />
    </div>

